$no-city-color: #d7d6d6;
$refuse-call-color: #ff8282;

body {

  a {
    text-decoration: underline;
    img {
      border: 1px white solid;
    }
  }

  a:hover {
    background: none;
    color: green;
    img {
      border: 1px green solid
    }
  }

  h1 {
    font-size: 160%;
    text-align: center;
  }
  h2 {
    font-size: 140%;
  }
  h3 {
    font-size: 120%;
  }

  padding: 20px;

  div#navbar {
    li span {
      line-height: 20px;
      b.login {
        color: blue;
        font-weight: bold;
      }
    }
  }

  .navbar-blue {
    background-color: #e3e3e3;
    span {
      display: block;
      padding: 15px;
    }
  }

  table {
    width: 100%;
    tr {
      &.city_code_ {
        td.c, td.r {
          background-color: $no-city-color;
        }
      }

      th {
        padding: 5px;
        border: 1px solid #6d8084;
        text-align: center;
      }

      td {
        padding: 5px;
        border: 1px solid #6d8084;
        span.comment {
          font-size: 70%;
          color: #444444
        }
      }

      td.call-Отказ {
        background: $refuse-call-color;
      }

      th.city, td.city {
        width: 320px
      }
    }
  }

  div.excel_block {
    margin: 5px 0;

    > span.dl-excel {
      float: right;
      display: inline-block;
      position: relative;
      bottom: 5px;
    }

    form.upload_form {
      float: right;
      display: inline-block;
      margin-right: 50px;

      input[type=file] {
        display: inline-block;
        width: 180px;
      }
    }

  }

  .form-client {
    label {
      width: 150px
    }

    select {
      width: 160px
    }

    div.left {
      float: left;
      width: 400px
    }
    div.right {
      float: left;
      width: 400px;
    }
    .actions {
      text-align: center;
      input[type=submit] {
      }
    }
  }

  div.clients-container {
    position: relative;
    .color-tips {
      font-size: 80%;
      position: absolute;
      top: 0px;
      right: 10px;
      span {
        display: inline-block;
        margin: 0 10px;
        padding: 0 4px;
        &.color-kladr {
          background: $no-city-color;
        }
        &.color-refuse-call {
          background: $refuse-call-color;;
        }
      }
    }
  }

}